@model UCP1_PAW_096_C.Models.Pemesan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pemesan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPemesan" />
            <div class="form-group">
                <label asp-for="NamaPemesan" class="control-label"></label>
                <input asp-for="NamaPemesan" class="form-control" />
                <span asp-validation-for="NamaPemesan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlamatPemesan" class="control-label"></label>
                <input asp-for="AlamatPemesan" class="form-control" />
                <span asp-validation-for="AlamatPemesan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoHpPemesan" class="control-label"></label>
                <input asp-for="NoHpPemesan" class="form-control" />
                <span asp-validation-for="NoHpPemesan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalHarga" class="control-label"></label>
                <input asp-for="TotalHarga" class="form-control" />
                <span asp-validation-for="TotalHarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
